<html>
<head>
        <link rel="stylesheet" type="text/css" href="/static/css/video1.css" />
        <style type="text/css">
        .register_div1{position:absolute;left:50;top:250;font-size:15;color:black}
        .register_div2{position:absolute;left:50;top:400;font-size:15;color:black}
        .register_div3{position:absolute;left:50;top:550;font-size:15;color:black}
        .register_div4{position:absolute;left:200;top:655;}
        .error{color:black}
        .hyper{position:absolute;left:820;top:645;font-size:25;color:black}
        </style>
        {% block extrahead %}{% endblock %}
</head>
<body>
<div id="pageContainer">
        
        {% block content %}
        <p><a class="hyper" href="/">Click here for Equipo Home</a></p>
        {% endblock %}
</div>
</body>
</html>
		
