<html>
<head><title> FAQ's and Reference</title>
</head>
<body>
<h1>FAQ's</h1>
<p>
<h2>Q1>What is Equipo all about?</h2>
A: Equipo is a team management web app that aims at providing a solution for handling all the project related activities on a online basis.
<br/><br/>
<h2>Q2>For whom is EQUIPO?</h2>
A:The users of Equipo are registered members involved in the project activity, ie..<br/> 
<h4><ul><li>HOD</li>
<li>Guide</li><li>Students(team members)</li></h4>
<br/><br/>
<h2>Q3>How to become a member of Equipo?</h2><br/>
A:You become member of Equipo by requesting the admin to register you as a member.
<br/><br/>
<h2>Q4>FEATURES of Equipo?</h2><br/>
A:Equipo has some cool features like <br/>
<ul><li>File management center</li>
<li>Evaluation Center</li>
<li>Discussions Forum!!</li>
<li>and much more...</li>
</ul>
<br/><br/>
<h2>Q5>The Roles???</h2><br/>
A:The Students can upload their project work progress which is then evaluated by the guides and HOD's.Also the guides and HOD's can make suggestions about the same.For communications with the teams The HOD and guides can make use of the forum. Students can use the FORUM to post any project and Technology Queries.<br/><br/>
</p>
<h1>Reference section</h1>
<p>click <a href="referencesection.html">here<a> to get references of project report templates and standard books</p>
<p><a class="hyper" href="/" >Click here for Equipo Home</a></p>
</html>
