<html>
    <head>
        <title>grade page</title>
        <style type="text/css">
            h1{position:absolute;left:600;font-family:'lucida calligraphy'; font-size:24;color:red;}
            .vg1{position:absolute;top:100;left:500;}
            .vg2{position:absolute;top:150;left:540;}
            .vg3{position:absolute;top:200;left:550;}
             th{font-family:'algerian';}
        </style>
    </head>
    <body>
        <h1>Grade Page</h1>
        <form>
            <p><label class="vg1">Team Name:<input type="text" name="name" value="" size="30" /></label></p>
            <p><label class="vg2">USN:<input type="text" name="usn" value="" size="30" /></p></label>
            
        </form>
        <table class="vg3" border="1">
            <tr>
                <th colspan="3" align="left"><pre>Team Name:              </pre></th>
                
            </tr>
            <tr>
                <th colspan="3" align="left"><pre>Project Name:              </pre></th>
            </tr>
            <tr>
               <th colspan="3" align="left"><pre>Overall Grade:              </pre></th>
            </tr>
            <tr>
                <th>Member Name</th>
                <th>Marks</th>
                <th>Grades</th>
                
            </tr>
            <tr>
                <td>        </td>
                <td>        </td>
                <td>        </td>
               

            </tr>
            <tr>
                <td>        </td>
                <td>        </td>
                <td>        </td>
               
            </tr>

            <tr>
                <td>        </td>
                <td>        </td>
                <td>        </td>
               
            </tr>

            <tr>
                <td>        </td>
                <td>        </td>
                <td>        </td>
                
            </tr>

            
        </table>
        
    </body>
    
    
</html>