<html>
 <head>
  <style type="text/css">
  .up{position:relative;color:white}
 </style>
 <div style='position:absolute;z-index:0;left:0;top:0;width:100%;height:100%'>
  <img src="{{MEDIA_URL}}upload.jpg" style='width:100%;height:100%' alt='[]' />
</div> 
        
<form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p class=up>{{ form.non_field_errors }}</p>
            <p class=up>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p class=up>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p class=up><input type="submit" value="Upload" /></p>
            
        </form>
    </body>
</html> 
