<html>
    <head>
     <style type="text/css">
	.n{color:white;}
     </style>
        <meta charset="utf-8">
        <title>file upload</title>   
    </head>
    <body bgcolor=black>
<div style='position:absolute;z-index:0;left:500;top:300;width:50%;height:50%'>
  <img src="{{MEDIA_URL}}synv.png" style='width:100%;height:100%' alt='[]' />
</div> 
    <!-- List of uploaded documents -->
    {% if syns %}
        <ol>        {% for syn in syns %}
            <li class="n"><a href="{{ syn.synfile.url }}">{{ syn.synfile.name }}</a></li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No synopsis.</p>
    {% endif %}

</html>
